body {  
    background:  rgb(228, 223, 223);  
    margin: 3%;  
}  
#title {  
    text-align: center;  
    text-shadow: 8px 8px 5px rgb(15, 12, 12);  
    font-size: 8vh; 
    font-family: cursive; 
    margin-bottom: 30px;
    color: rgb(106, 11, 230);
}    
#caption {  
    font-size: 19px;  
    font-family:sans-serif;  
    color: rgb(252, 9, 9);  
}  
div#tribute-data {  
    background-color: green;  
    border: 3px solid orange;
    box-shadow: 15px 15px 15px rgb(54, 48, 138);  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding: 25px 25px;  
    margin: 15px; 
    font-size: 25px; 
    font-weight: 600;
    margin-top: 50px;  
}  
h1.title-vk {  
    font-size: 35px;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(4, 19, 9);  
    text-align: center;  
    text-shadow: 4px 5px 2px white;  
} 
/* for image*/   
.column1 {
    float: left;
    width: 50%;
    padding: 0px;
  }
.column2{
    float: right;
    width: 50%;
    padding: 0px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }